.current_wrapper{
   
    height: 100vh;
    display: flex;
   justify-content: space-between;
}
.film_right_wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}
.sim_swiper{
    margin-left: 100px;
    margin-right: 100px;
}
.film_trailer_button{
    padding: 8px;
    background-color: #fff;
    border: 2px solid #e88428;
    width: 250px;
    text-transform: uppercase;
    border-radius: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
}
.film_trailer_button:hover{
    background-color: #e88428;
    color: white;
    border-color: black;
}
.film_left_wrapper{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.film_name_ru{
    margin-top: 20px;
    font-style: italic;
    font-weight: 700;
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.film_name_orig{
    margin-bottom: 20px;
}
.film_name_eng{
    margin-bottom: 20px;
    font-weight: 700;
    color: white;
    font-size: 30px;
    text-align: center;
}
.current_poster{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px    ;
}
.film_rating{
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: 19px;
    margin-bottom: 50px;
}
.film_right_wrapper{
    width: 50%;
    height: 600px;
    margin-right: 20px;
}
.film_description{
    font-weight: 600;
    font-size: 21px;
    color: white;
}
.film_length{
    color: white;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}
.film_year{
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}

.film_length{
    margin-bottom: 30px;
}
