.item_card_wrapper{
    
    background-color:rgb(18, 17, 17);
    margin-bottom: 50px;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    transition: 0.3s;
   
}
.check_more{
    
    background-color: transparent ;
    border: 3px solid #e88428;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    opacity: 0%;
    margin-left: 75px;
    transform: translateY(-250px);
    color: white;
}
.item_card_wrapper:hover .check_more{
    
    
    opacity: 100%;
    width: 150px;
    height: 35px;

}

.item_card_wrapper:hover{
transform: translate(0px ,10px);
 
}
.item_card_wrapper:hover .film_card_poster{
    filter: brightness(50%);
    
    box-shadow: 10px 10px 18px 0px rgba(230, 230, 233, 0.4);
}
.film_card_poster{
    width: 100%;
    filter: brightness(100%);
    box-sizing: border-box;
    border-radius:10px;
    margin-bottom: 10px;
    transition: 0.2s;
}


.item_card_wrapper:hover  .item_card_rating {
    border: 3px solid #3f8106;
}
.button_page_wrap{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}
.page_right{
    margin-right: 50px;
}
.page_left{
    margin-right: 10px;
}
.page_left:hover{
  transform: translateX(-10px) ;
}
.page_right:hover{
    transform: translateX(10px) ;
  }
.page_left, .page_right{
    transition: 0.5s;
    background-color:transparent;
    outline: none;
    border: none;
    font-size: 28px;
    color: white;
}
.page_number{
    font-size: 30px;
    font-family: 'Inter';
}
.container{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    border-bottom: 3px solid #e88428;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
}


.item_card_info{
    
    font-size: 23px;
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    color:white;
    } 
    .item_card_year{
    text-align: center;
        font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'Inter';
    color:white;
    }
.item_card_rating{
    position: absolute;
    color: white;
    padding-top: 15px;
    border: 3px solid #e88428;
    background-color: black;
    text-align: center;
    font-weight: 500;
    width: 50px;
    border-radius: 50%;
    height: 35px;
    margin-left: 10px;
    z-index: 99;
    margin-top: 10px;
    transition: 0.3s
}
.item_card_rating:hover{
    border: 3px solid #3f8106;
}
.item_card_logo{
    margin-bottom: 60px;
}
.item_card_name{

    font-family: 'Inter';
font-weight: 600;
font-size: 28px;
text-align: center;
width: 300px;
margin-bottom: 30px;
}