nav{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    z-index: 999;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.nav_img{
    padding-left: 20px;
    width: 10%;
    object-fit: contain;
}
.nav_search{
    outline: none;
    border: 1px solid black;
    height: 30px;
margin-right: 10px;
width: 200px;   
padding-left: 10px;
font-family: 'Poppins';
margin-top: 10px;
}
.nav_lupa{

}
#last_nav_item{
    padding-right: 10px;
}